<div class="row" style="margin-top:80px">
    <div class="col-sm-1 col-md-2 col-lg-3"></div>
    <div class="col-sm-10 col-md-8 col-lg-6">
        <form class="marco">
            <img src="~/images/logo.png" class="mx-auto d-block img-fluid" />

            <div class="col-12 mt-4">
                <label for="usuario">Usuario</label>
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="bi-person-fill"></i>
                    </span>
                    <input type="text" id="usuario" class="form-control" placeholder="Digite su usuario" maxlength="200" />
                </div>
            </div>

            <div class="col-12 mt-4">
                <label for="password">Password</label>
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="bi-key-fill" onmouseover="mouseover('password');" onmouseout="mouseout('password');"></i>
                    </span>
                    <input type="password" id="password" class="form-control" placeholder="Digite su contraseña" />
                </div>
            </div>

            <p id="ajax_wait" style="text-align:center; display:none; margin-top:20px">
                <img src="~/images/ajax.gif" />
            </p>

            <div class="col-12 mt-4 text-center">
                <button type="button" class="btn btn-primary" onclick="ingresar();" title="ingresar al Sistema">
                    Acceder al Sistema
                </button>
            </div>

            <p class="text-center mt-4 mb-4">
                &copy; Todos los derechos reservados a <a id="tiviable" href="https://www.ti-viable.com" target="_blank">TI-viable</a>
            </p>
        </form>
    </div>
    <div class="col-sm-1 col-md-2 col-lg-3"></div>
</div>